<partial-navbar></partial-navbar>

<div class="wrapper">

  <div class="page-header page-header-small" filter-color="orange">
    <div class="page-header-image" data-parallax="true" style="background-image: url('assets/img/slidermobile/img4-small.jpg');">
    </div>

    <div class="container">
      <div class="content-center">
        <div class="photo-container">
          <img src="assets/img/profile.jpg" alt="">
        </div>
        <h3 class="title">Lennon Alves Dias</h3>
        <p class="category">Cientista da Computação</p>
      </div>
    </div>

  </div>

  <div class="section">

    <div class="container">

      <div class="button-container">
        <a href="https://github.com/lennonalvesdias" target="_blank" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip"
          title="Confira meu Repositório">
          <i class="fa fa-github"></i>
        </a>

        <a href="http://lattes.cnpq.br/6379239457237236" target="_blank" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip"
          title="Acesse meu Lattes">
          <i class="fa fa-file-text-o"></i>
        </a>
      </div>

      <h3 class="title">Quem eu sou?</h3>
      <h5 class="description">Graduado em Ciência da Computação pela Universidade Tecnológica Federal do Paraná (2015). Como Trabalho de Conclusão
        de Curso realizei a análise de diferentes métodos de calibração de câmeras, na área de Visão Computacional.</h5>

      <h3 class="title">O que eu faço?</h3>
      <h5 class="description">Atualmente atuo como desenvolvedor full stack utilizando principalmente ASP.NET Web Api / .NET Core 2 com Angular 2/4.
        Adepto ao DDD e ao Clean Code e utilizador de tecnlogias como Entity Framework, Sql Server, MongoDB, NodeJS, Python.</h5>

      <div class="text-center">
          <a href="assets/pdf/curriculum.pdf" target="_blank" class="btn btn-primary btn-round btn-lg">
          Baixar currículo
        </a>
      </div>

    </div>

  </div>

  <partial-footer></partial-footer>

</div>