<partial-navbar></partial-navbar>

<div class="wrapper">

  <div class="page-header page-header-small" filter-color="orange">
    <div class="page-header-image" data-parallax="true"
      style="background-image: url('assets/img/slidermobile/img4-small.jpg');">
    </div>

    <div class="container">
      <div class="content-center">
        <div class="photo-container">
          <img [src]="imagemPerfil" alt="">
        </div>
        <h3 class="title">Lennon Alves Dias</h3>
        <p class="category">Cientista da Computação</p>
      </div>
    </div>

  </div>

  <div class="section">

    <div class="container">

      <div class="button-container">
        <a href="https://github.com/lennonalvesdias" target="_blank" class="btn btn-default btn-round btn-lg btn-icon"
          rel="tooltip" title="Confira meu Repositório">
          <i class="fa fa-github"></i>
        </a>

        <a href="http://lattes.cnpq.br/6379239457237236" target="_blank"
          class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Acesse meu Lattes">
          <i class="fa fa-file-text-o"></i>
        </a>

        <a href="https://medium.com/@lennonalvesdias" target="_blank"
          class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Leia meus artigos no Medium">
          <i class="fa fa-medium"></i>
        </a>
      </div>

      <h3 class="title">Quem eu sou?</h3>
      <h5 class="description">Graduado em Ciência da Computação pela<br /><strong>Universidade Tecnológica Federal do
          Paraná</strong> (2015).<br />Cursando MBA em Artifical Intelligence & Machine Learning pela<br/><strong>Faculdade de Informática e Administração Paulista</strong> (2020)</h5>

      <h3 class="title">O que eu faço?</h3>
      <h5 class="description">Desenvolvedor FullStack com foco em <strong>.NET Framework</strong> e<br /><strong>.NET
          Core</strong>. Adepto ao <strong>DDD</strong> e <strong>Clean Code</strong>.</h5>

      <h3 class="title">E o que mais?</h3>
      <h5 class="description">Entusiasta de <strong>Docker</strong> e seus containers. Desenvolver é uma paixão e isso
        faz com que sempre busque estar atualizado.
        Que tal conferir o <a href="https://github.com/lennonalvesdias" target="blank">GitHub</a> e o <a
          href="https://www.linkedin.com/in/lennonalvesdias/" target="blank">LinkedIn</a> para saber mais sobre os
        projetos e competências?</h5>

      <div class="text-center">
        <a href="assets/pdf/curriculum.pdf" target="_blank" class="btn btn-primary btn-round btn-lg">
          ACESSAR CURRICULUM
        </a>
      </div>

    </div>

  </div>

  <partial-footer></partial-footer>

</div>